.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EFF1F2;
    border-radius: 30px;
}
.player .song {
    user-select: none;
    margin: 0 20px;
}

.player .controls {
    flex-grow: 1;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player .player__button {
    width: fit-content;
    background-color: transparent;
    border: none;
}
.player .player__button:focus {
    outline: none;
}
.player .player__button:hover {
    cursor: pointer;
}
.player .player__button:hover svg {
    color: #000;
}
.player .player__button svg {
    font-size: 1.5rem;
    color: #000
}
.player .bar {
    user-select: none;
    width: 100%;
    display: flex;
    align-items: center;
}
.player .bar .bar__time {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    padding: 5px;
}
.player .bar .bar__progress {
    flex: 1;
    border-radius: 5px;
    margin: 0 20px;
    height: 7px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.player .bar .bar__progress .bar__progress__knob {
    position: relative;
    height: 10px;
    width: 10px;
    border: 1.5px solid white;
    border-radius: 50%;
    background-color: #DA8E13;
}
@media screen and (max-width: 800px) {
    .player {
        flex-direction: column;
   }
    .player .controls {
        width: 100%;
      
   }
    .player .bar {
        width: 90%;
   }
}
@media screen and (max-width: 500px) {
    .player .song .song__title {
        font-size: 2.5em;
   }
    .player .song .song__artist {
        font-size: 0.8em;
   }
}
