/* Fonts */

@font-face {
font-family: 'CormorantSC';
src: local('MyFont'), url(resources/fonts/CormorantSC-Bold.ttf) format('woff');
}

@font-face {
  font-family: 'Cormorant-medium';
  src: local('MyFont'), url(resources/fonts/Cormorant-Medium.ttf) format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');

/* Scroll bar */

::-webkit-scrollbar-corner { background: rgba(0,0,0,0.5); }

* {
  scrollbar-width: thin;
  scrollbar-color: #c5c5c5 #f6f6f6;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

*::-webkit-scrollbar-track {
  background:#f6f6f6;
}

*::-webkit-scrollbar-thumb {
  background-color:#c5c5c5;
  border-radius: 20px;
  border: 3px solid #f6f6f6;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.658); 
}

/* Header-Body */

header {
  margin-top: 2%;
}

.header-wrapper td h1 {
  font-size: 15rem;
  letter-spacing: 2vw;
  padding-top: 230px;
  color: #B0B0B0;
}

.header-wrapper img {
 width: fit-content;
 height: 450px;
}

.header-wrapper td h1 {
  font-size: 16vw;
  letter-spacing: 2vw;
  padding-top: 16vw;
}

.header-wrapper img {
 height: 35vw;
}

h1,h2,h3{
  font-family: Cormorant-medium;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.icon_3d {
  margin-top: 5%;
  margin-left: 5%;
}

.banner-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: 280px;
}

/* AudioPlayer */

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display{
  font-size: 1.3em;
}

#custom-player{
  width: 91% !important;
  height: 2em !important;
}

#custom-player2{
  width: 80% !important;
  height: 2em !important;
}

/* ParagraphInfo */

.paragraphinfo {
  max-width: 84%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12%;
  margin-bottom: 12%;
}

.paragraphinfo p {
  font-size: 1.7vw;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4vw;
  text-align: center;
  letter-spacing: 3px;
}

/* MainParagraphInfo */

.mainparagraphinfo {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12%;
}

.mainparagraphinfo p,
.mainparagraphinfo p span {
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 1.7vw;
  letter-spacing: 3px;
  line-height: 2em;
  text-align: justify;
}

.mainparagraphinfo p span {
  color: grey;
}

/* BackgroundVideoSection */

#backgroundvideo {
  z-index: -1;
  width: 100%;
}

.customPlayer .video-container {
  position: relative;
}

.customPlayer .video-overlay {
  position: absolute;
  top: 13%;
  left: 65%;
  color: white;
  font-weight: 400;
}

.customPlayer .video-overlay .first-two-text {
  left: 10%;
  position: relative;
  line-height: 100%;
}

.customPlayer .video-overlay .splitter{
  margin-bottom: 7%;
}

.customPlayer .video-overlay .second-two-text {
  left: 45%;
  position: relative;
  line-height: 100%;
}

.customPlayer .video-overlay h2{
  font-size: 3.3vw;
  font-weight: 700;
  left: 70%;
  font-family: 'Cormorant SC', serif;
  letter-spacing: 0.3vw;
}

.customPlayer .video-overlay h3{
  font-size: 2.5vw;
  font-weight: 700;
  margin-bottom: 0%;
  font-family: 'Cormorant SC', serif;
  letter-spacing: 0.4vw;
}

/* InformationSection */

.info-text {
  font-style: normal;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: left;
  background: #fbfbfd;
}

.info-text .text-wrapper {
  padding-left: 10%;
}

.info-text .text-wrapper2 {
  padding-left: 18%;
  margin-top: 5%;
}

.info-text h2 {
  font-family: CormorantSC;
  font-size: 3.3vw;
  letter-spacing: 0.125em;
  color: #DA8E13;
  margin-bottom: 4%;
}

.info-text .text-holder p {
  font-size: 1.3vw;
  padding-left: 20px;
  margin-right: 7%;
  font-weight: 500;
}

.info-text .song-textbox {
  padding-top: 5%;
  text-transform: capitalize;
}

.info-text .text-wrapper2 .song-textbox {
  padding-top: 0%;
  text-transform: capitalize;
}

.info-text .song-name {
  font-size: 1.3vw;
}

.info-text .song-subtext {
  font-size: 1vw;
  font-weight: 400;
}

.info-text .text-holder {
  border-left: 3px solid #DA8E13;
}

/* InformationSection2*/

#preview-image-wrapper,
#banner-img {
  position: relative;
}

#preview-image-wrapper ul {
  list-style-type: none;
  position: absolute;
  display: block;
  height: 126%;
  width: 100%;
  margin-top: -7%;
  padding: 0;
  z-index: 200;
  overflow: hidden;
}

#preview-image-wrapper li {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #9D795B 6.44%, #513D2B 12.16%, #DA8E13 40.24%, #DA8E13 48.29%, #DA8E13 55.57%, #4A3A2E 88.3%, #9D795B 93.11%, rgba(255, 255, 255, 0) 100%);
  height: 100%;
  width: 1%;
  margin-left: 51%;
  display: inline-block;
  margin-right: -4px;
}

#preview-image-wrapper .banner-img {
  min-height: auto;
}

#preview-image-wrapper .first-img-second-line {
  margin-left: 15% !important;
}

#preview-image-wrapper .second-img-first-line {
  margin-left: 32% !important;
}

#preview-image-wrapper .second-img-second-line {
  margin-left: 10% !important;
}

#preview-image-wrapper .second-img-third-line {
  margin-left: 5% !important;
}

#rightbanner {
  padding-left: 18%;
}

#leftbanner {
  padding-right: 18%;
}

#versus {
  font-size: 7vw;
  font-family: CormorantSC;
  text-align: center;
  color: #DA8E13;
  margin: 5%;
}

#leftcomp {
  margin-top: -2%;
}

#rightcomp {
  margin-top: -3%;
}

#leftcomp .text-holder p,
#rightcomp .text-holder p {
  margin-right: 20%;
}

#leftcomp h2,
#rightcomp h2 {
  font-size: 6.8vw;
  position: relative;
  margin-bottom: 0%;
}

#rightcomp h2 {
  margin-left: 18%;
}

#leftcomp h2 {
  margin-right: 19%;
  text-align: end;
}

#leftcomp h2 .outer,
#rightcomp h2 .outer {
  background-color: white;
}

#leftcomp h2 span {
  padding-left: 1%;
}

#leftcomp h2::after,
#rightcomp h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.55em !important;
  border-top: 0.12em solid #DA8E13;
  z-index: -1;
}

.versus-section .info-text {
  background: none;
}

.info-text2 .text-wrapper {
  padding-left: 10%;
}

/* 3dmodel */

#modelwhite {
  overflow: hidden;
  outline: none;

}

canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#footer-gradient-line {
  margin-top: 5%;
  margin-bottom: 2%;
  width: 80%;
  height: 0.2vw;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #9D795B 6.44%, #513D2B 12.16%, #DA8E13 40.24%, #DA8E13 48.29%, #DA8E13 55.57%, #4A3A2E 88.3%, #9D795B 93.11%, rgba(255, 255, 255, 0) 100%);
  margin-left: auto;
  margin-right: auto;
}
.model-text{
  position: relative;
  height: 100vh;
}
.model-text h2{
  font-size: 1.7vw;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4vw;
  text-align: center;
  letter-spacing: 3px;
  text-transform: capitalize;
  padding: 8% 0;
}
.model-text ::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

.video-gallery{
  height: 100%;
  width: 100%;
}
.video-gallery video{
  height: 100%;
  width: 100%;
}
.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
}
.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading-bar-container {
  width: 100px;
  height: 32px;
  background: #272727;
}

.loading-bar {
  height: 32px;
  background: #DA8E13;
}
/* Responsive */

@media screen and (max-width: 1400px) {
  .info-text .song-textbox{
    padding-top: 1%;
  }
}

@media screen and (max-width: 1200px) {
  .header-wrapper td h1 {
    font-size: 20vw;
    letter-spacing: 2vw;
    padding-top: 20vw;
  }
  
  .header-wrapper img {
   height: 45vw;
  }

  .info-text {
    letter-spacing: 2px;
  }

  .info-text h2 {
    font-size: 2.6vw;
  }

  .info-text .text-holder p {
    margin-right: 6%;
  }

  .info-text .text-wrapper {
    padding-left: 10%;
  }

  .info-text .text-wrapper2 {
    padding-left: 18%;
    letter-spacing: 1px;
    margin-top: 5%;
  }

  .info-text .song-textbox {
    padding-top: 0%;
  }

  .info-text .song-subtext {
    margin-bottom: 1%;
  }

  #custom-player{
    width: 91% !important;
    height: 1.5em !important;
  }

  #custom-player2{
    height: 1.5em !important;
  }

  audio::-webkit-media-controls-current-time-display,
  audio::-webkit-media-controls-time-remaining-display{
  font-size: 1em;
}
}

@media screen and (max-width: 767px) {
  header {
    padding-bottom: 30px;
  }

  .header-wrapper td h1 {
    padding-top: 22vw;
  }

  .icon_3d {
    width: 40%;
  }

  header h2,
  .paragraphinfo p {
    font-size: 3.5vw;
    line-height: inherit;
    letter-spacing: 2px;
  }

  audio::-webkit-media-controls-current-time-display,
  audio::-webkit-media-controls-time-remaining-display {
    font-size: 1em;
  }

  
  #custom-player2{
    width: 100% !important;
    height: 1.5em !important;
  }

  .banner-img {
    min-height: auto;
  }

  .info-text h2 {
    font-size: 7.6vw;
  }

  .info-text .text-holder p {
    font-size: 3.4vw;
    padding-left: 20px;
    margin-right: 9%;
  }

  .info-text .song-name {
    font-size: 2.8vw;
  }

  .info-text .song-subtext {
    font-size: 2.4vw;
  }

  .info-text .text-wrapper {
    padding-left: 10%;
    margin-bottom: 5%;
  }

  .info-text .text-wrapper2 {
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 7%;
  }

  .customPlayer .video-overlay h2{
    font-size: 3.5vw;
  }

  .customPlayer .video-overlay h3{
    font-size: 3vw;
    margin-bottom: 0;
  }

  #versus {
    font-size: 20vw;
    margin: 7%;
    margin-top: 6%;
    margin-bottom: 2%;
  }

  #rightbanner,
  #leftbanner {
    padding: 0 15%;
  }

  #leftcomp,
  #rightcomp {
    margin-top: 0%;
  }

  #leftcomp h2,
  #rightcomp h2 {
    font-size: 5.6vw;
    position: relative;
    padding: 0px 15%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10%;
    text-align: center;
  }

  #leftcomp h2 .outer,
  #rightcomp h2 .outer {
    background-color: white;
    padding: 0 5%;
  }

  #leftcomp h2::after,
  #rightcomp h2::after {
    height: 0.65em !important;
    border-top: 3px solid #DA8E13;
  }

  #leftcomp .text-holder p,
  #rightcomp .text-holder p {
  margin-right: 0%;
  }

  #preview-image-wrapper li {
    margin-left: 42%;
  }

  #preview-image-wrapper .second-img-first-line {
    margin-left: 43% !important;
  }

  #preview-image-wrapper .second-img-second-line {
    margin-left: 8% !important;
  }

  .mainparagraphinfo p,
  .mainparagraphinfo p span {
    font-size: 3.5vw;
    letter-spacing: 1px;
    text-align: justify;
    line-height: 1.9em;
  }
}

/* ----------- Default CSS ----------- */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



#set-height {
  display: block;
}

section {
  z-index: 1;
  position: relative;
}

.content {
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  top: 33.3%;
}

.scroll-text h1 {
  font-size: 2.5em;
  background: #fff;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0;
}
.scroll-text p { font-size: 1.5em; }

.g-annotation {
  height: 900px;
}


.entered {
-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
